<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="main_web.css">
</head>
<body>
    <div class="topnav">
        <a href="main_page.html">Trang chủ</a>
        <a href="user_page.php">Người dùng</a>
        <a class="active" href="product_page.html">Sản phẩm</a>
        <a href="login_admin.html" id="logout">Đăng xuất</a>
    </div>
    <div>
        <input type="button" value="Thêm sản phẩm" id="btnAddProduct" class="btnFunction">
        <input type="button" value="Danh sách sản phẩm" id="btnListProduct" class="btnFunction">
    </div>
    
</body>
</html>
<script src="product_page.js"></script>